.modal
  position absolute
  width 50%
  top 25%
  left 25%
  right auto
  bottom auto
  background-color white
  border transparent
  &Overlay
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-color alpha(black, 0.7)
  &Header
    border-bottom #333940 1px solid
    padding 10px 25px 2px
  &Content
    padding 20px 25px