$pageWidth = 1140px
$colGap = 30px
$colGapMobile = 30px

// media
$desc = 'only screen and (max-width: 1190px)'
$more-desc = 'only screen and (min-width: 1191px)'

$tablet = 'only screen and (max-width: 960px)'
$more-tablet = 'only screen and (min-width: 961px)'

$mobile = 'only screen and (max-width: 630px)'
$more-mobile = 'only screen and (min-width: 631px)'

$small = 'only screen and (max-width: 320px)'
$more-small = 'only screen and (min-width: 321px)'

// colors
$black = #333940