.input
  box-sizing border-box
  border-radius 5px
  border gray 2px solid
  padding 5px
  width 100%
  height 27px
  outline: none
  overflow auto
  &:focus
    border black 2px solid
  &Area
    height: auto