.container
  width 100%
  max-width 1200px
  margin 0 auto
  height 50px
  background-color transparent
  display flex
  justify-content space-between

.buttonsGroup
  display flex
  width: 75%
  justify-content flex-end